<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MejaBundar.io</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body class="mt-3">

    <form class="container" method="post">
        <div class="header"><h1>Login As</h1></div>
        <div class="login">
            <label for="">Username</label>
            <input type="text" name="username" placeholder="text here">
            <!-- <div class="line"></div> -->
            <br>
            <label for="">Password</label> 
            <input type="password" name="password" placeholder="text here">
            <!-- <div class="line"></div> -->
            <button class="btn">Login</button>
        </div>
    </form>
   
    <% if (typeof flash != "undefined" && flash != "") { %>
        <script>
            alert("<%= flash %>")
        </script>
    <% } %>

</body>

</html>